{% extends "base.twig" %}
{% block content %}
    <form action="/schedule" method="post">
        <label for="owner id">Owner: <input name="ownerid" type="text" /></label>
        <label for="scheduleName">Name: <input name="scheduleName" type="text" /></label>
        <label for="scheduleName">Description:<textarea name="scheduleDescription"></textarea></label>
        <button type="submit">Create Schedule!</button>
    </form>
{% endblock %}